
    <div id="page-content">
      <h1 class="text-center mt-5">Listing all Articles</h1>
      <div class="container">
        <% @articles.each do |item| %>
          <div class="row">
             <div class="col-10 mt-4">
                 <div class="card text-center w-auto mr-5 ml-5 shadow mb-5 bg-white rounded">
                  <div class="card-header font-italic">
                    by Sebastian Tenorio
                    </div>
                    <div class="card-body">
                     <h5 class="card-title"><%= link_to item.tittle, article_path(item), class:"text-success"%></h5>
                     <p class="card-text"><%=truncate(item.description,length:100)%></p>
                    <%= link_to 'View', article_path(item), class:"btn btn-outline-dark"%>
                    <%= link_to 'Edit', edit_article_path(item),class:"btn btn-outline-info"%>
                     <%= link_to 'Delete', article_path(item), method: :delete,class:"btn btn-outline-danger",data:{confirm: 'Esta seguro de eliminar el articulo?'}%>
                  </div>
                  <div class="card-footer text-muted">
                   <small>Created <%= time_ago_in_words(item.created_at)%> ago</small>
                  </div>
               </div>     
            </div>
         </div>
        <% end %> 
     </div>
   </div>