<h1>Articles listing page</h1>

<table>
  <thead>
    <tr>
     <th>Id Article</th>
     <th>Tittle</th>
     <th>Description</th>
     <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |item| %>
    <tr>
     <td><%=item.id%></td>
     <td><%=item.tittle%></td>
     <td><%=item.description%></td>
     <td><%= link_to 'Show', article_path(item)%></td>
     <td><%= link_to 'Update', edit_article_path(item)%></td>
     <td><%= link_to 'Delete', article_path(item), method: :delete,data:{confirm: 'Esta seguro de eliminar el articulo?'}%></td>
    </tr>
  </tbody>
   <% end %>
</table>
<p><%= link_to 'Create article', new_article_path %></p>

<p><%= link_to 'Home view', root_path %></p>
