<div class="container">
       <div class="row justify-content-center">
          <div class="col-10"> 
              <%= render 'shared/errors', obj:@user %>   
              <%= form_with(model: @user,class: "shadow bg-info rounded",local:true) do |f|%>
                          <div class="form-group row">

                         <%= f.label :username, class: "col-2 col-form-label mt-4 text-light"%>
                            <div class="col-10">
                              <br>
                               <%= f.text_field :username,class:"form-control mr-5 shador rounded",placeholder: "Enter your UserName"%>
                            </div>
                      </div>
                      <div class="form-group row">
                          <%= f.label :email,class:"col-2 col-form-label text-light"%>
                           <div class="col-10">
                           <%= f.email_field :email,class: "form-control mr-5 shador rounded",placeholder: "Enter your Email"%>
                          </div>
                      </div>

                      <div class="form-group row">
                          <%= f.label :password,class:"col-2 col-form-label text-light"%>
                           <div class="col-10">
                           <%= f.password_field :password,class: "form-control mr-5 shador rounded",placeholder: "Choose a Password"%>
                          </div>
                      </div>
              <div class="form-group row justify-content-center">
                  <%= f.submit class:"btn btn-outline-dark btn-lg"%>
              </div>          
            <% end %>
       </div>
          <p><%= link_to '[Regresa a la lista de articulos]', articles_path %></p>
   </div>
  </div>